.header {
  /*layout*/
  display: flex;
  justify-content: center;
  position: relative;
  /*dimension*/
  width: 100%;
  padding: 3px;
  /*style*/
  background-color: #03314b;
}

.position {
  /*layout*/
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translate(0, -42%);
  z-index: 10;
}
