.display {
  /*layout*/
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*dimension*/
  width: auto;
  height: 30vh;
  margin: 145px 5px 0px 5px;
  padding: 20px;
  /*style*/
  background-color: #03314b;
  border-top: #032330 solid 2px;
  border-bottom: #032330 solid 2px;
  font-size: 17px;
}
