.table {
  /*dimension*/
  margin: 10px;
  /*style*/
  font-size: 18px;
}

.line1 {
  /*layout*/
  vertical-align: top; /*text oben im feld ausrichten*/
  /*dimension*/
  width: 30vw;
  padding: 5px;
  /*style*/
  border-bottom: 1px solid white;
}
.line2 {
  /*layout*/
  vertical-align: top; /*text oben im feld ausrichten*/
  /*dimension*/
  width: 70vw;
  padding: 5px;
  /*style*/
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
