.navigation {
  /*layout*/
  display: flex;
  justify-content: space-between;
  /*dimension*/
  padding: 15px 10px 15px 10px;
  /*style*/
  background-color: #03314b;
  border-top: #032330 1px solid;
  border-bottom: #032330 1px solid;
}

.positionrelative {
  /*layout*/
  position: relative;
}

.image {
  /*style*/
  border-radius: 10px;
  overflow-y: hidden;
  border: #032330 1px solid;
}

.textleft {
  /*layout*/
  position: absolute;
  top: 5px;
  left: 20px;
  /*dimension*/
  margin-left: 8px;
  /*style*/
  font-size: small;
}

.textcenter {
  /*layout*/
  position: absolute;
  top: 5px;
  left: 20px;
  text-align: center;
  /*style*/
  font-size: small;
}

.textright {
  /*layout*/
  position: absolute;
  top: 5px;
  left: 12px;
  text-align: right;
  /*dimension*/
  margin-right: 8px;
  /*style*/
  font-size: small;
}
